/* Aside / nav tab -------------------------- */
#aside-tab-container {
  padding: 40px;
  background-color: var(--aside-bar-background-color);
  box-shadow: var(--aside-bar-box-shadow);
  width: 300px;
  top: 0;
  bottom: 0;
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.nav-bar-title {
  font-size: 35px;
}

.navigation-tag {
  margin-top: 30px;
}

.nav-items-container {
  list-style-type: none;
  padding: 0;
  height: 38px;
}

.nav-items-container a {
  width: 100%;
}

.nav-item {
  display: flex;
  cursor: pointer;
  text-decoration: none;

  padding: 9px 0 9px 8px;
  margin: 4px 0 4px;
  border-radius: 8px;
  height: 38px;
}

.nav-item p {
  margin-left: 10px;
}

.nav-item:hover {
  background-color: var(--nav-hover-color);
}