.App {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#main-section-outermost-container {
  background-color: var(--main-section-background-color);
  margin-left: 300px;
  min-height: 100vh;
  min-width: calc(100vw - 300px);
  padding: 50px 250px 0px 140px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-title {
  font-size: 2.5rem;
  margin-bottom: 50px;
}
