/* Aside / nav tab -------------------------- */
#aside-tab-container {
  padding: 40px;
  background-color: var(--aside-bar-background-color);
  box-shadow: var(--aside-bar-box-shadow);
  width: 300px;
  top: 0;
  bottom: 0;
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.nav-bar-title {
  font-size: 35px;
}

.navigation-tag {
  margin-top: 30px;
}

.nav-items-container {
  list-style-type: none;
  padding: 0;
  height: 38px;
}

.nav-items-container a {
  width: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  padding: 9px 0 9px 8px;
  margin: 4px 0 4px;
  border-radius: 8px;
  height: 38px;
}

.nav-item p {
  margin: 0 0 0 10px;

}

.log-out-icon {
  color: var(--main-text-color);
}

.nav-item:hover {
  background-color: var(--nav-hover-color);
}

.log-out-container:hover p,
.log-out-container:hover .log-out-icon {
  color: rgb(255, 48, 48);
  font-weight: bold;
}

